.container-bird {
  padding-left: 200px !important;
  padding-right: 200px !important;
}

.bird-information {
  font-style: italic;
  color: #555;
}

/* Ajoutez ceci à votre fichier CSS */
// .flash-notice {
//   color: #155724;
//   background-color: #d4edda;
//   border-color: #c3e6cb;
//   padding: 10px;
//   margin-bottom: 20px;
//   border: 1px solid transparent;
//   border-radius: .25rem;
// }
