.bookform {
  width: 460px !important;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  .inputs {
    justify-content: space-between;
    input {
      background-color: white ;
    }
  }

  .button {
    width: 100%;
  }
  input {
    width:fit-content;
  }
}
