.footer {
  background: #193626;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
}
.jamalscript {
  color: yellow;
}
