.navbar-lewagon {
  justify-content: space-between;
  background: #193626;
  margin-bottom: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  position: sticky !important;
  z-index: 99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.brand-title {
  font-size: 20px;
  vertical-align: middle;
  color: white;
}
.nav-link {
  color: white !important
}
